.circle{
    height: 60vh;
    width: 60vh;
    display: block;
    margin-top: 10%;
    margin-left: 40%;
    border-radius: 360px;
    outline: 1px solid green;
}

#line{
    display: inline-block;
    width: 100%;
    height: 5px;
    margin-top: 50%;
    transform: rotate(0deg);
}

#line p{
    display: inline-block;
    width: 50%;
    height: 5px;
    margin-top: 0px;
    margin-right: 0%;
    margin-left: 0%;
    position: fixed;
    outline: 2px solid red;

}

#line2{
    position: inherit;
    width: 100%;
    height: 5px;
    transform: rotate(0deg);
}



#line2 p{
    display: inline-block;
    float: left;
    width: 25%;
    height: 5px;
    margin-top: 0px;
    margin-right: 0%;
    margin-left: 0%;
    outline: 2px solid yellow;
}

#line2 p#filler{
    display: inline-block;
    outline: none;
    width: 25%;
    height: 5px;
    margin-top: 0px;
    margin-right: 0%;
    margin-left: 0%;
}